.loginContainer {
  // background-image: url("./login-modal2.jpg");
  // background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  // position: fixed; // 브라우저 기준????
  // inset: 0; // top right left top위치가 다 0
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  // background-color: rgba(211, 211, 211, 0.8);

  .backDrop {
    position: fixed;
    inset: 0;
    background-color: rgba(211, 211, 211);
    opacity: 0.7;
  }

  .loginWrapper {
    z-index: 1;

    .Loginlogo {
      font-family: "Lobster", cursive;
      font-size: 45px;
      margin-top: 35px;
    }

    .loginTitle {
      margin: 35px 0;
      font-weight: 900;
      font-size: 20px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    float: left;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.41);

    form {
      width: 260px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .fullName {
        display: flex;
        justify-content: left;
        width: 100%;

        .lastName {
          width: 90px;
          margin-right: 10px;
        }

        .firstName {
          width: 160px;
        }
      }

      .filed {
        width: 100%;
        height: 40px;
        margin-bottom: 16px;
        position: relative;

        .placeHolder {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0px;
          padding: 0 6px;
          height: 100%;
          line-height: 40px;
          color: gray;
          font-size: 14px;
          pointer-events: none;
          transition: all 0.1s linear;
        }

        input {
          border: 1px solid gray;
          border-radius: 5px;
          width: 100%;
          height: 100%;
          padding: 8px 9px;
          font-size: 18px;
        }

        .placeHolderHasValue {
          top: -10px;
          left: -20px;
          transform: scale(0.8);
          color: gray;
        }

        .inputHasValue {
          padding-top: 14px;
          padding-bottom: 2px;
        }
      }

      .loginBtn {
        width: 100%;
        padding: 10px 0;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        background-color: #0095f6;
        color: white;
        font-size: 16px;
        cursor: pointer;
      }

      .loginquestion {
        margin-top: 20px;

        li {
          margin: 15px 0;
          font-size: 15px;
          font-weight: bold;
          color: rgb(242, 83, 55);

          .noAccount {
            color: gray;
          }

          .signUpBtn {
            margin-left: 9px;
            color: rgb(242, 83, 55);
            cursor: pointer;
          }
        }
      }
    }
  }

  .signupWrapper {
    height: 580px;
  }
}
