form {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .fullName {
    display: flex;
    justify-content: left;
    width: 100%;

    .lastName {
      width: 90px;
      margin-right: 10px;
    }

    .firstName {
      width: 180px;
    }
  }

  .filed {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    position: relative;

    .placeHolder {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0px;
      padding: 0 6px;
      height: 100%;
      line-height: 40px;
      color: gray;
      font-size: 14px;
      pointer-events: none;
      transition: all 0.1s linear;
    }

    input {
      border: 1px solid gray;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      padding: 8px 9px;
      font-size: 18px;
    }

    .placeHolderHasValue {
      top: -10px;
      left: -20px;
      transform: scale(0.8);
      color: gray;
    }

    .inputHasValue {
      padding-top: 14px;
      padding-bottom: 2px;
    }
  }

  .loginBtn {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 149, 246, 0.2);
    color: white;
    font-size: 16px;
  }

  .loginBtnOn {
    background-color: rgb(0, 149, 246);
    cursor: pointer;
  }

  .loginquestion {
    margin-top: 20px;

    li {
      margin: 15px 0;
      font-size: 15px;
      font-weight: bold;
      color: gray;

      .noAccount {
        color: gray;
      }

      .signUpBtn {
        margin-left: 9px;
        color: rgb(38, 49, 204);
        cursor: pointer;
      }
    }
  }

  .loginFail {
    margin-top: 20px;
    color: rgb(235, 80, 80);
    font-weight: 900;
    line-height: 24px;
  }
}
