.productPurchase {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1180px;
  height: auto;
  margin: 0px auto;
  background-color: #fff;

  .cartModal {
    position: absolute;
    left: 70%;
    width: 350px;
    height: auto;
    background-color: royalblue;

    .cartHeader {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      h4 {
        font-size: 14px;
        font-weight: 700;
      }

      .cartPrice {
        display: flex;
        gap: 15px;
        font-size: 14px;

        p {
          span {
            font-weight: 700;
          }
        }
      }
    }

    .cartProduct {
      width: 100%;
      height: auto;
    }

    .cartFooter {
      .cartTotalPrice {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        h4 {
          font-size: 14px;
        }

        p {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }

  .asideLeft {
    width: 650px;
    clear: both;

    .leftImageAndHeart {
      position: relative;

      .image {
        width: 650px;
        height: 550px;
        border-radius: 10px;
        background-size: cover;
        box-shadow: 15px 15px 1px rgb(255, 204, 109);
      }

      .heart {
        position: absolute;
        top: 2%;
        right: 2%;
        font-size: 25px;
      }
    }

    .asideLeftItemImages {
      margin-top: 10px;

      .ItemImage {
        width: 90px;
        height: 90px;
        border: 1px solid black;
        object-fit: cover;
      }
    }

    .asideLeftContent {
      width: 650px;
      height: 1000px;
      margin-top: 20px;
      object-fit: cover;
    }
  }

  .asideRight {
    width: 500px;
    height: 1500px;

    .stickyBox {
      position: sticky;
      top: 15%;
      width: 500px;
      height: 400px;

      .slippersInfo {
        padding: 10px;
        border-bottom: 1px solid rgb(200, 200, 200);

        .infoTitle {
          font-weight: 700;
        }

        .infoGender {
          margin-top: 10px;
          padding-top: 5px;
          font-size: 13px;
        }

        .infoPrice {
          padding-top: 10px;
          font-size: 14px;
          font-weight: 700;
        }
      }

      .slippersColor {
        padding: 10px 10px 30px 10px;
        margin-top: 10px;
        border-bottom: 1px solid rgb(200, 200, 200);

        .colorTitle {
          font-size: 15px;

          span {
            font-weight: 700;
          }
        }

        .colorList {
          padding-top: 30px;

          ul {
            display: flex;
            gap: 10px;
          }

          .color {
            width: 80px;
            height: 30px;
            padding-top: 7px;
            border: 1px solid rgb(200, 200, 200);
            border-radius: 5px;
            text-align: center;
            font-weight: 700;
            background-color: black;
            color: #ffffff;
            cursor: pointer;

            &:hover {
              border: 1.5px solid rgb(137, 137, 137);
            }
          }
        }

        .colorImages {
          .image {
            width: 50px;
          }
        }
      }
    }
  }
}
