.shoppingCartAdd {
  margin: 15px 0px;

  .shopingListAdd {
    width: 100%;
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  .black {
    background-color: black;
  }

  .gray {
    background-color: #bbbbbb;
  }

  .shopingListAddblue {
    width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    background-color: #002982;
  }
}
