.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1180px;
  height: auto;
  margin: 0px auto;
  background-color: #ffffff;

  .cartModal {
    position: absolute;
    width: 350px;
    height: auto;
    left: 70%;
    background-color: royalblue;
    .cartHeader {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      h4 {
        font-size: 14px;
        font-weight: 700;
      }
      .cartPrice {
        display: flex;
        gap: 15px;
        font-size: 14px;
        p {
          span {
            font-weight: 700;
          }
        }
      }
    }

    .cartProduct {
      width: 100%;
      height: auto;
    }

    .cartFooter {
      .cartTotalPrice {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        h4 {
          font-size: 14px;
        }
        p {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }
  .asideLeft {
    width: 650px;
    clear: both;
    .leftImageAndHeart {
      position: relative;
      .image {
        width: 650px;
        height: 550px;
        object-fit: cover;
      }
      .heart {
        position: absolute;
        top: 2%;
        right: 2%;
        font-size: 25px;
      }
    }

    .asideLeftItemImages {
      margin-top: 10px;
      .ItemImage {
        width: 90px;
        height: 90px;
        border: 1px solid black;
        object-fit: cover;
      }
    }

    .asideLeftContent {
      width: 650px;
      height: 1000px;
      margin-top: 20px;
      object-fit: cover;
    }
  }

  .asideRight {
    width: 500px;
    height: 1400px;

    .stickyBox {
      position: sticky;
      top: 3%;
      width: 500px;
      height: 400px;

      .slippersInfo {
        padding: 10px;
        border-bottom: 1px solid gray;
        .infoTitle {
          font-weight: 700;
        }
        .infoGender {
          padding-top: 5px;
          font-size: 13px;
        }
        .infoPrice {
          padding-top: 10px;
          font-size: 14px;
          font-weight: 700;
        }
      }

      .slippersColor {
        padding: 10px 10px 50px 10px;
        margin-top: 10px;
        border-bottom: 1px solid gray;
        .colorTitle {
          font-size: 15px;
          span {
            font-weight: 700;
          }
        }
        .colorList {
          margin-top: 20px;
          ul {
            display: flex;
            gap: 10px;
          }
          .color {
            width: 80px;
            height: 30px;
            padding-top: 7px;
            border-radius: 5px;
            box-shadow: 3px 2px 3px gray;
            text-align: center;
            background-color: black;
            color: #ffffff;
            font-weight: 700;
            cursor: pointer;
          }
          .color:hover {
            border: 1.5px solid white;
          }
        }
        .colorImages {
          .image {
            width: 50px;
          }
        }
      }

      .slippersSize {
        padding: 10px;
        margin-top: 10px;

        .sizeTitle {
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          span {
            font-weight: 700;
          }
          .sizeTable {
            padding: 3px 10px;
            border-radius: 5px;
            background-color: #000000;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
          }
        }
        .sizeList {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
          gap: 10px 5px;
          width: 100%;
          height: auto;
          padding-top: 20px;
          .size {
            padding: 10px 2px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 0.875rem;
            font-weight: 700;
            text-align: center;
            box-shadow: 3px 2px 3px gray;
            cursor: pointer;
          }
          .black {
            background-color: #000000;
            color: #fff;
          }
          .white {
            color: #000000;
          }
          .size:hover {
            border: 1px solid #000000;
          }
        }

        form {
          margin: 15px 0px;
          .shopingListAdd {
            width: 90%;
            padding: 15px 25px;
            border-radius: 3px 0px 0px 3px;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.1;
            color: #fff;
            background-color: #bbbbbb;
          }
          .shopingListAddblue {
            width: 90%;
            padding: 15px 25px;
            border-radius: 3px 0px 0px 3px;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.1;
            color: #fff;
            background-color: #002982;
          }
          .shopingLikeAdd {
            width: 10%;
            padding: 13px 10px 14px 10px;
            border: 1px solid #002982;
            background-color: #002982;
            border-left: 1px solid #fff;
            border-radius: 0px 3px 3px 0px;
            line-height: 1.5;
            color: #fff;
            .hearticon {
              font-size: 20px;
              padding: 1px;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}
