* {
  font-family: "Nanum Gothic", sans-serif;
}

.colorCircle {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 3px;
}

.wrap {
  padding: 5vw;
  width: 100vw;
  align-items: center;

  .listTitle {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .listNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;

    .listNavSmallLeft {
      display: flex;
      flex-direction: row;

      .leftSmallBtn {
        background-color: #d3d3d3;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        margin-right: 5px;
      }
      .leftSmallCategory {
        background-color: #d3d3d3;
        border-radius: 5px;
        margin: auto;
        padding: 5px;
      }
    }
    .listNavSmallRight {
      font-size: 18px;
    }
    .showAll {
      padding: 30px;
    }
  }

  .sectionWrap {
    display: flex;
    flex-direction: row;
    .leftSection {
      width: 25%;
      .recommendProductTitle {
        border-bottom: 1px solid black;
        font-weight: 900;
        padding: 20px;
        padding-left: 0px;
      }

      .reccomendProduct > ul > li {
        padding: 20px;
      }

      .filteringProduct {
        margin-top: 35px;
        .filteringProductTitle {
          border-bottom: 1px solid black;
          font-weight: 900;
          padding: 20px;
          padding-left: 0px;
        }
        .style {
          position: relative;
          padding: 20px;
          border-bottom: 1px solid black;
          .stylePlus {
            position: absolute;
            right: 0;
            bottom: 30;
            margin-right: 10px;
          }
          .styleUl {
            display: none;
          }
        }
        .size {
          position: relative;
          padding: 20px;
          border-bottom: 1px solid black;
          .sizePlus {
            position: absolute;
            right: 0;
            bottom: 30;
            margin-right: 10px;
          }
          .sizeUl {
            display: none;
            // display: grid;
            grid-template-columns: repeat(auto-fill, minmax(5ch, 1fr));
          }
        }

        .color {
          position: relative;
          padding: 20px;
          // border-bottom: 1px solid black;
          .colorPlus {
            position: absolute;
            right: 0;
            bottom: 30;
            margin-right: 10px;
          }
          .colorUl {
            display: none;
            // display: grid;
            grid-template-columns: repeat(auto-fill, minmax(6ch, 1fr));
          }
        }
      }
      .adImg {
        // margin: 10px;
        width: 23vw;
      }
    }

    .rightSection {
      position: relative;
      width: 75%;
      padding-left: 30px;
      .dropdownMenu {
        text-align: right;
        padding: 20px;
        .sortBtn {
          position: relative;
          .arrowBtn {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 15px;
          }
          text-align: left;
          padding: 15px;
          width: 16vw;
          font-size: 16px;
          font-weight: bold;
          border-style: none;
          border: 1px solid #d3d3d3;
        }
      }
      .productInfoList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
      }
      .productInfo {
        border: 1px solid #d3d3d3;
        margin: 5px;
        box-shadow: 0.3px 0.3px 0.3px 0.3px #d3d3d3;
        border-radius: 3px;
        .productInfoTopNav {
          font-size: 13px;
          padding: 5px;
          display: flex;
          justify-content: space-between !important;
        }
        .productInfoDetail {
          display: flex;
          flex-direction: column;
          align-items: center;
          .productName {
            font-size: 13px;
            margin: 15px;
          }
          .productRate {
            margin: 30px 0px;
            font-size: 11px;
          }
          .productPrice {
            margin: 15px;
          }
          .productColorNav {
            margin: 15px;
            display: flex;
            flex-direction: row;
          }
        }
      }
      .productImg {
        width: 120px;
        height: 134px;
      }
      .moreProduct {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .showMoreBtn {
        background-color: black;
        color: white;
        width: 5vw;
        padding: 20px;
        margin: 20px;
      }
      .showAllBtn {
        align-items: center;
        justify-content: center;
        text-align: center;

        width: 7vw;
        padding: 5px;
        margin: auto 5px;
      }
      .categoryComment {
        position: absolute;
        left: 30;
        bottom: 0;
      }
    }
  }
}
