// mixin css

.productDescPage {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: #ffffff;

  .blackModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    opacity: 0.5;
    background-color: black;
  }

  .whiteModal {
    z-index: 10;
    position: absolute;
    width: 1050px;
    height: 650px;
    top: 7%;
    left: 18%;
    background-color: #ffffff;

    button {
      font-size: 20px;
    }
    img {
      padding-top: 50px;
      width: 900px;
    }
  }

  .bottomContainer {
    width: 1180px;
    height: auto;
    margin: 0px auto;
    background-color: #ffffff;
  }
}
