// 래영 멘토님 개인 코드 리뷰 6월 28일 scss띄어쓰기

.productDescPage {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: #ffffff;

  .bottomContainer {
    width: 1180px;
    height: auto;
    margin: 0px auto;
    background-color: #ffffff;
  }
}
