.nav {
  position: fixed;

  .navWrapper {
    border-bottom: 1px solid black;
    background-color: rgb(195, 171, 217);
    width: 100vw;
    height: 100px;
    padding: 20px 25px;
    display: flex;
    position: relative;
    z-index: 10;

    .logo {
      font-family: "Lobster", cursive;
      font-size: 50px;
      margin-right: 20px;
    }

    .menuMain {
      display: flex;

      .menuTap {
        width: 100px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        .menuSub {
          position: absolute;
          top: 100px;
          left: 0;
          border-bottom: 1px solid black;
          background-color: white;
          padding: 0px 140px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          width: 100%;
          height: 0px; // <메뉴바>
          overflow: hidden;
          transition: height 0.1s ease-in-out;

          .subColumn {
            padding-top: 35px;

            h2 {
              font-weight: 800;
              font-size: 20px;
              margin-bottom: 18px;
            }

            ul li {
              font-size: 16px;
              margin-bottom: 16px;

              i {
                margin-right: 20px;
                font-size: 24px;
              }
            }

            .columnUnders {
              margin-top: 70px;

              .columnUnder {
                text-decoration: underline;
                margin-bottom: 30px;
              }

              .red {
                padding-bottom: 20px;
                color: rgb(180, 1, 1);
              }
            }

            .navImg {
              width: 100%;
              margin-bottom: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;

              img {
                width: 90%;
                height: 120px;
              }

              .navImgTitle {
                width: 100%;
                text-align: center;
                margin-top: 10px;
                color: rgb(88, 85, 85);
                text-decoration: underline;
              }
            }

            .kids {
              margin-top: 50px;
            }

            .workShoes {
              margin-top: 30px;
              margin-left: 20px;

              h2 {
                margin-top: 20px;
                font-size: 16px;
              }
            }

            .saleTapSub {
              margin-top: 10px;

              li {
                padding-top: 10px;
                text-decoration: underline;
              }

              .saleAll {
                margin-top: 40px;
                font-size: 18px;
              }
            }
            .price {
              margin-top: 16px;
            }

            .salePrice {
              li {
                text-decoration: none;
              }
            }
          }

          .workShoesImg {
            margin-top: 0px;
          }
        }
      }

      // <메뉴바>
      .menuTap:hover .menuSub {
        height: 430px;
        transition: height 0.5s ease-in-out;
      }

      .menuTap:hover .menuColor {
        color: rgb(33, 149, 244);
      }
    }

    .shoeIcon {
      font-size: 100px;
      width: 100px;
    }

    .navRight {
      position: absolute;
      right: 10px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;

      .navRightTap {
        margin-right: 20px;
        font-weight: bold;
        position: relative;

        .heart {
          font-size: 34px;
          position: relative;

          span {
            font-size: 15px;
            color: white;
            position: absolute;
            inset: 0;
            text-align: center;
            line-height: 31px;
          }
        }

        .cart {
          font-size: 32px;
          position: relative;

          .cartNum {
            position: absolute;
            top: -10px;
            right: -7px;
            line-height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(49, 101, 206);
            color: white;
          }
        }

        .barBtn {
          background-color: inherit;
          border: none;
          padding: 10px;
          cursor: pointer;

          .bars {
            font-size: 26px;
          }
        }

        .menuBar {
          z-index: 9;
          position: absolute;
          top: 75px;
          left: 75px;
          transition: left 0.5s ease-in-out;
          border: 1px solid black;
          width: 240px;
          height: 300px;
          display: grid;
          grid-template-rows: repeat(5, 1fr);

          li {
            width: 100%;
            height: 100%;
            background-color: white;
            border: 1px solid rgb(128, 128, 128, 0.4);
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
          }
        }

        .barBtn:hover .menuBar {
          position: absolute;
          left: -168px;
        }
      }
    }
  }
}
