.nav {
  z-index: 15;
  position: fixed;
  top: 0;

  .navWrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100px;
    padding: 0px 25px;
    border-bottom: 1px solid black;
    background-color: #fff;
    z-index: 10;

    .logo {
      margin-right: 20px;
      margin-bottom: 18px;
      font-family: "Lobster", cursive;
      font-size: 50px;
    }

    .menuMain {
      display: flex;
      height: 100%;

      .menuTap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100%;
        font-weight: bold;

        .menuSubWrapper {
          position: absolute;
          top: 100px;
          left: 0;
          width: 100%;
          height: 0px;
          background-color: white;
          overflow: hidden;
          transition: height 0.1s ease-in-out;
          // z-index: 9;

          .menuSub {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 0px 140px;
            border-bottom: 1px solid black; // 문제의 요인

            .subColumn {
              padding-top: 35px;

              h2 {
                margin-bottom: 18px;
                font-weight: 800;
                font-size: 20px;
              }

              ul li {
                margin-bottom: 20px;
                font-size: 16px;

                i {
                  margin-right: 20px;
                  font-size: 24px;
                }
              }

              .columnUnders {
                margin-top: 50px;

                .columnUnder {
                  margin-bottom: 20px;
                  text-decoration: underline;
                }

                .red {
                  padding-bottom: 20px;
                  color: rgb(180, 1, 1);
                }
              }

              .navImg {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
                width: 100%;

                img {
                  width: 90%;
                  height: 120px;
                }

                .navImgTitle {
                  margin-top: 10px;
                  width: 100%;
                  text-align: center;
                  color: rgb(88, 85, 85);
                  text-decoration: underline;
                }
              }

              .kids {
                margin-top: 50px;
              }

              .workShoes {
                margin-top: 30px;
                margin-left: 20px;

                h2 {
                  margin-top: 20px;
                  font-size: 16px;
                }
              }

              .saleTapSub {
                margin-top: 10px;

                li {
                  padding-top: 10px;
                  text-decoration: underline;
                }

                .saleAll {
                  margin-top: 40px;
                  font-size: 18px;
                }
              }
              .price {
                margin-top: 16px;
              }

              .salePrice {
                li {
                  text-decoration: none;
                }
              }
            }

            .workShoesImg {
              margin-top: 0px;
            }
          }
        }
      }

      // <메뉴바>
      .menuTap:hover .menuSubWrapper {
        height: 430px;
        transition: height 0.5s ease-in-out;
      }

      .menuTap:hover .menuColor {
        color: rgb(33, 149, 244);
      }
    }

    .shoeIcon {
      width: 100px;
      font-size: 100px;
    }

    .navRight {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 10px;
      height: 100%;

      .hello {
        padding-right: 40px;
        font-size: 20px;
        font-weight: bold;
      }

      .navRightTap {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 20px;
        height: 100%;
        font-weight: bold;

        .heart {
          position: relative;
          font-size: 34px;

          span {
            position: absolute;
            inset: 0;
            line-height: 31px;
            color: white;
            font-size: 15px;
            text-align: center;
          }
        }

        .cart {
          position: relative;
          font-size: 32px;

          .cartNum {
            position: absolute;
            top: -10px;
            right: -7px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background-color: rgb(49, 101, 206);
            color: white;
            font-size: 16px;
          }
        }

        .barBtn {
          padding: 10px;
          background-color: inherit;
          border: none;
          cursor: pointer;

          .bars {
            font-size: 26px;
          }
        }

        .menuBar {
          position: absolute;
          top: 100px;
          left: 73px;
          display: grid;
          grid-template-rows: repeat(5, 1fr);
          width: 240px;
          height: 300px;
          border-left: 1px solid black;
          border-bottom: 1px solid black;
          transition: left 0.5s ease-in-out;
          z-index: 9;

          li {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
            width: 100%;
            height: 100%;
            background-color: white;
            border: 1px solid rgb(128, 128, 128, 0.4);

            i {
              display: inline-block;
              padding-left: 12px;
            }
          }
        }

        .barBtn:hover .menuBar {
          position: absolute;
          left: -168px;
        }
      }
    }
  }
}
